body {
    background-color: #124559;
}

.title {
    color: #eff6e0;
    font-size: 50px;
    margin: 10px 0;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 180px 180px 180px;
    grid-template-rows: 180px 180px 180px;
}

.counter {
    display: block;
    color: #eee;
    font-size: 30px;
}

.button {
    background-color: transparent;
    color: #eff6e0;
    font-size: 30px;
    border-radius: 10px;
    border: solid #eee 2px;
    cursor: pointer;
    margin: 10px 0;
}

.title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
