body {
    background-color: #adadad;
}

.title {
    color: #eee;
    font-size: 50px;
    margin: 10px 0;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 180px 180px 180px;
    grid-template-rows: 180px 180px 180px;
}

.button {
    background-color: transparent;
    color: #eee;
    font-size: 30px;
    border-radius: 10px;
    border: solid #eee 2px;
    cursor: pointer;
    margin: 10px 0;
}

.title {
    text-align: center;
}
