body {
    background-color: #adadad;
}

.title {
    color: #eee;
    font-size: 50px;
    margin: 10px 0;
}

.field {
    border: 5px solid #eee;
    font-size: 120px;
    background-color: #2e2e3d;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 180px 180px 180px;
    grid-template-rows: 180px 180px 180px;
}

.winner-field {
    background-color: #004500;
}

.message-container {
    display: block;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: #313131;
}

.panel {
    display: block;
}

.panel > button {
    background-color: transparent;
    color: #eee;
    font-size: 30px;
    border-radius: 10px;
    border: solid #eee 2px;
    cursor: pointer;
    margin: 10px 0;
}

.message-container,
.title,
.panel,
.field {
    text-align: center;
}
